  <!DOCTYPE html>
<html
    xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head th:replace="fragments :: page_head('Home - Curiositees Admin', 'none')" />
<body>
<div class="container-fluid">
  <div th:replace="navigation :: menu"></div>
  <div>
    <h1>Welcome to Curiositees Admin Control Panel</h1>
    <a th:href="@{/account}"
       sec:authentication="principal.fullname"></a>
    <span sec:authentication="principal.authorities"></span>
  </div>
  <div th:replace="fragments :: footer"></div>
</div>

</body>
</html>