<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
  <meta content="width=device-width,initial-scale=1.0, minimum-scale=1.0" name="viewport">

  <title>Login - Curiositees Admin</title>

  <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" type="text/css"/>
</head>
<body>
<div class="container-fluid text-center">

  <div>
    <img th:src="@{/images/CuriositeesAdminBig.png}"/>
  </div>

  <form method="post" style="max-width: 350px; margin: 0 auto" th:action="@{/login}">

    <div th:if="${param.error}">
      <p class="text-danger">[[${session.SPRING_SECURITY_LAST_EXCEPTION.message}]]</p>
    </div>
    <div th:if="${param.logout}">
      <p class="text-warning">You have been logged out.</p>
    </div>

    <div class="border border-secondary rounded p-3">
      <p>Access to Curiositees Control Panel</p>
      <p>
        <input class="form-control" name="email" placeholder="E-mail" required type="email"/>
      </p>
      <p>
        <input class="form-control" name="password" placeholder="Password" required
               type="password"/>
      </p>
      <p>
        <input type="checkbox" name="remember-me" />&nbsp;Remember Me
      </p>
      <p>
        <input class="btn btn-primary" type="submit" value="Login"/>
      </p>
    </div>
  </form>

  <div>
    <p>Curiositees Control Panel - Copyright &copy; Curiositees</p>
  </div>

</div>
</body>
</html>