<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments :: page_head('Your Account Details', 'none')" />

<body>

<div class="container-fluid">
  <div th:replace="navigation :: menu"></div>

  <form enctype="multipart/form-data" method="post" style="max-width: 700px; margin: 0 auto"
        th:action="@{/account/update}"
        th:object="${user}">
    <input th:field="*{id}" type="hidden"/>
    <div class="text-center">
      <h2>Your Account Details</h2>
    </div>

    <div class="alert alert-success text-center" th:if="${message != null}">
      [[${message}]]
    </div>

    <div class="border border-secondary rounded p-3">
      <div class="form-group row">
        <label class="col-sm-4 col-form-label">E-mail:</label>
        <div class="col-sm-8">
          <input class="form-control" readonly="readonly" th:field="*{email}" type="email"/>
        </div>
      </div>

      <div class="form-group row">
        <label class="col-sm-4 col-form-label">First Name:</label>
        <div class="col-sm-8">
          <input class="form-control" maxlength="45" minlength="2" required th:field="*{firstName}"
                 type="text"/>
        </div>
      </div>

      <div class="form-group row">
        <label class="col-sm-4 col-form-label">Last Name:</label>
        <div class="col-sm-8">
          <input class="form-control" maxlength="45" minlength="2" required th:field="*{lastName}"
                 type="text"/>
        </div>
      </div>

      <div class="form-group row">
        <label class="col-sm-4 col-form-label">Password:</label>
        <div class="col-sm-8">
          <input class="form-control" maxlength="20" minlength="8"
                 oninput="checkPasswordMatch(document.getElementById('confirmPassword'))"
                 placeholder="leave blank if you don't want to change password"
                 th:field="*{password}"
                 type="password" />
        </div>
      </div>

      <div class="form-group row">
        <label class="col-sm-4 col-form-label">Confirm Password:</label>
        <div class="col-sm-8">
          <input class="form-control" id="confirmPassword" maxlength="20"
                 minlength="8" oninput="checkPasswordMatch(this)"
                 type="password" />
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-4 col-form-label">Assigned Roles:</label>
        <div class="col-sm-8">
          <span><b>[[${user.roles}]]</b></span>
        </div>
      </div>

      <div class="form-group row">
        <label class="col-sm-4 col-form-label">Photos:</label>
        <div class="col-sm-8">
          <input th:field="*{photos}" type="hidden"/>

          <input accept="image/png, image/jpeg" class="mb-2" id="fileImage" name="image"
                 type="file"/>
          <img alt="Photos preview" class="img-fluid" id="thumbnail"
               th:src="@{${user.photosImagePath}}"/>
        </div>
      </div>

      <div class="text-center">

        <input class="btn btn-primary m-3" type="submit" value="Save"/>

        <input class="btn btn-secondary" id="buttonCancel" type="button" value="Cancel"/>
      </div>
    </div>
  </form>


  <div th:replace="fragments :: footer"></div>
</div>
<script type="text/javascript">

  moduleURL = "[[@{/}]]";

  function checkPasswordMatch(confirmPassword) {
    if (confirmPassword.value != $("#password").val()) {
      confirmPassword.setCustomValidity("Passwords do not match!");
    } else {
      confirmPassword.setCustomValidity("");
    }
  }
</script>
<script th:src="@{/js/common_form.js}"></script>
</body>
</html>