<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: page_head('Users - Curiositees Admin')"/>
<body>
<div class="container-fluid">
  <div th:replace="navigation :: menu"></div>
  <div>
    <h2>Manage Users</h2>
    <a class="fas fa-user-plus fa-2x icon-dark mr-2" th:href="@{/users/new}"></a>

    <a class="fas fa-file-csv fa-2x icon-dark mr-2" th:href="@{/users/export/csv}"></a>

    <a class="fas fa-file-excel fa-2x icon-dark mr-2" th:href="@{/users/export/excel}"></a>

    <a class="fas fa-file-pdf fa-2x icon-dark" th:href="@{/users/export/pdf}"></a>
  </div>

  <div class="alert alert-success text-center" th:if="${message != null}">
    [[${message}]]
  </div>

  <div>
    <form class="form-inline m-3" th:action="@{/users/page/1}">
      <input name="sortField" th:value="${sortField}" type="hidden"/>
      <input name="sortDir" th:value="${sortDir}" type="hidden"/>

      Filter: &nbsp;
      <input class="form-control" name="keyword" required th:value="${keyword}" type="search"/>
      &nbsp;&nbsp;
      <button class="btn btn-primary" type="submit">
        <i class="fas fa-search"></i>
      </button>
      &nbsp;&nbsp;
      <button class="btn btn-secondary" onclick="clearFilter()" type="button">
        <i class="fas fa-eraser"></i>
      </button>
    </form>
  </div>

  <div class="full-details">
    <table class="table table-bordered table-striped table-hover table-responsive-xl">
      <thead class="thead-dark">
      <tr>
        <th class="hideable-column">
        <th th:replace="fragments :: column_link('id', 'User ID', 'tag')"/>
        </th>

        <th>Photos</th>

        <th class="hideable-column">
        <th th:replace="fragments :: column_link('email', 'E-mail', 'tag')"/>
        </th>

        <th th:replace="fragments :: column_link('firstName', 'First Name', 'none')"/>
        <th th:replace="fragments :: column_link('lastName', 'Last Name', 'none')"/>

        <th>Roles</th>
        <th th:replace="fragments :: column_link('enabled', 'Enabled', 'none')"/>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="user : ${listUsers}">
        <td class="hideable-column">[[${user.id}]]</td>
        <td>
          <div th:replace="fragments :: user_photos"/>
        </td>
        <td class="hideable-column">[[${user.email}]]</td>
        <td>[[${user.firstName}]]</td>
        <td>[[${user.lastName}]]</td>
        <td>[[${user.roles}]]</td>

        <td>
          <div th:replace="fragments :: user_status"/>
        </td>

        <td>
          <div th:replace="fragments :: user_actions"/>
        </td>
      </tr>
      </tbody>
    </table>
  </div>

  <div class="less-details">
    <div class="row m-1" th:each="user : ${listUsers}">
      <div class="col-4">
        <div th:replace="fragments :: user_photos"/>
      </div>
      <div class="col-8">
        <div>[[${user.fullName}]]</div>
        <div>[[${user.roles}]]</div>
        <div class="mt-2">
          <div th:replace="fragments :: user_status"/>
          &nbsp;
          <div th:replace="fragments :: user_actions"/>
        </div>
      </div>
      <div>&nbsp;</div>
    </div>
  </div>

  <div class="text-center m-1" th:if="${totalItems > 0}">
    <span>Showing users # [[${startCount}]] to [[${endCount}]] of [[${totalItems}]]</span>
  </div>
  <div class="text-center m-1" th:unless="${totalItems > 0}">
    <span>No Users Found</span>
  </div>

  <div th:if="${totalPages > 1}">
    <nav>
      <ul class="pagination justify-content-center flex-wrap">
        <li th:class="${currentPage > 1 ? 'page-item' : 'page-item disabled'}">
          <a th:replace="fragments :: page_link(1, 'First')"></a>
        </li>
        <li th:class="${currentPage > 1 ? 'page-item' : 'page-item disabled'}">
          <a th:replace="fragments :: page_link(${currentPage - 1}, 'Previous')"></a>
        </li>

        <li th:class="${currentPage != i ? 'page-item': 'page-item active'}"
            th:each="i : ${#numbers.sequence(1, totalPages)}">
          <a th:replace="fragments :: page_link(${i}, ${i})"></a>
        </li>

        <li th:class="${currentPage < totalPages ? 'page-item' : 'page-item disabled'}">
          <a th:replace="fragments :: page_link(${currentPage + 1}, 'Next')"></a>
        </li>

        <li th:class="${currentPage < totalPages ? 'page-item' : 'page-item disabled'}">
          <a th:replace="fragments :: page_link(${totalPages}, 'Last')"></a>
        </li>
      </ul>
    </nav>
  </div>

  <div th:replace="modal_fragments :: confirm_modal"/>

  <div th:replace="fragments :: footer"></div>
</div>
<script th:src="@{/js/common_list.js}"></script>
<script type="text/javascript">

  moduleURL = "[[@{/users}]]";

  $(document).ready(function () {
    $('.link-delete').on('click', function (e) {
      e.preventDefault();
      showDeleteConfirmModal($(this), 'user');
    });
  });

</script>
</body>
</html>